.amount-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 2.8rem;
  padding: 1.6rem 2.4rem;
  animation: total-opacity 2s;
  animation-fill-mode: forwards;

  & p {
    font-size: 2rem;
    color: #858586;
  }

  & .account-toggle,
  .total-details {
    display: flex;
    align-items: center;
  }

  & .account-toggle {
    font-size: 1.8rem;
    cursor: pointer;

    & svg {
      margin-left: 0.8rem;
      width: 2.2rem;
      height: auto;
    }
  }

  & .total-details {
    span {
      display: flex;
      align-items: center;
      font-size: 3.2rem;

      span {
        font-size: 1.6rem;
        margin-right: 0.5rem;
      }
    }

    & svg {
      width: 2.4rem;
      margin-left: 6rem;
      stroke: #000;
      stroke-width: 2;
    }

    & svg.total-rotate-arrow {
      animation: icon-flip 0.5s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes total-opacity {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0.2;
  }
  5% {
    opacity: 0.5;
  }
  10%,
  25%,
  75% {
    opacity: 8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes icon-flip {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
