.amount-container {
  width: 100%;
  font-size: 2.8rem;
  padding: 1.6rem 2.4rem;
  margin: 0 auto;
  max-width: 30rem;

  animation: total-opacity 2s;
  animation-fill-mode: forwards;

  & p {
    font-size: 2rem;
    color: #858586;
  }

  & .total-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 3.2rem;

      display: flex;
      align-items: center;

      span {
        font-size: 1.6rem;
        margin-right: 0.5rem;
      }
    }

    a {
      width: 5rem;

      svg {
        display: block;
        width: 2.4rem;
        stroke: #000;
        stroke-width: 2;
        margin-left: auto;
      }

      svg.total-rotate-arrow {
        animation: icon-flip 0.5s;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes total-opacity {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0.2;
  }
  5% {
    opacity: 0.5;
  }
  10%,
  25%,
  75% {
    opacity: 8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes icon-flip {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
