main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bg 1s;
  animation-fill-mode: forwards;
  overflow-y: auto;
}

.expenses-list {
  width: 100%;
  max-width: 600px;
  padding: 0 2.4rem;
  list-style-type: none;
  margin: 3.2rem 0;
  position: relative;
  animation: expenses-up 1s;
  animation-fill-mode: forwards;
}

.expense-item {
  display: flex;
  background: #fff;
  border-radius: 1.6rem;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  flex-direction: column;
}

.expense-item + .expense-item {
  margin-top: 1.6rem;
}

.expense-item .expense-details {
  display: flex;
  padding: 1.6rem 2rem 0;
  justify-content: space-between;
  align-items: center;
}

.expense-item .expense-value {
  font-size: 1.8rem;
  font-weight: 600;
}

.expense-provider {
  display: flex;
}

.expense-provider img {
  width: 5rem;
  margin-right: .8rem;
}

.expense-provider div p {
  color: #8e8c8c;
}

.expense-item .expense-buttons,
.expense-item .more-details {
  padding: 0 2rem;
}

.expense-item .expense-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.expense-item .expense-buttons button {
  width: 49%;
  font-size: 1.8rem;
}

.expense-item .expense-buttons button:focus {
  outline: 0;
}

.expense-item .expense-buttons .remove-btn {
  color: #53b4e2;
  border: 4px solid #53b4e2;
  border-radius: 10px;
  transition: all .5s ease;
}

.expense-item .expense-buttons .remove-btn:hover {
  color: #fff;
  border: 4px solid #51c7ff;
  background-color: #51c7ff;
  transition: all .5s ease;
}


.expense-item .expense-buttons .edit-btn {
  color: #fff;
  background-color: #53b4e2;
  border: 4px solid #53b4e2;
  border-radius: 10px;
  transition: all .5s ease;
}

.expense-item .expense-buttons .edit-btn:hover {
  background-color: #468daf;
  border-color: #468daf;
  transition: all .5s ease;
}

.expense-item .more-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 0;
  font-style: italic;
  color: #b9b9b9;
  cursor: pointer;
}

.expense-item .more-details svg {
  height: 1rem;
  margin-left: .4rem;
  margin-top: .2rem;
}

.expense-item .more-details svg path {
  fill: #b9b9b9;
}

.expense-item .bills {
  padding: 2.4rem;
  background: #f7f6f6;
}

.expense-item .bills .bill {
  display: flex;
  justify-content: space-between;
}

.expense-item .bills .bill + .bill {
  margin-top: 1.6rem;
}

.expense-item .bills .bill .bill-details {
  display: flex;
  flex-direction: column;
}

.expense-item .bills .bill .bill-details .bill-date {
  font-size: 1.4rem;
  color: #8a8685;
}

.expense-item .bills .bill .bill-details .bill-value {
  font-size: 1.8rem;
  font-weight: 600;
}

.expense-item .bills .bill button svg {
  width: 2rem;
}

@keyframes expenses-up {
  0% {
    top: 100px;
  }
  100% {
    top: 0;
  }
}

@keyframes bg {
  from {
    background: inherit;
  }
  to {
    background: #CDD3D1;
  }
}