.total-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 1.6rem;

  & svg.total-home-arrow {
    animation: icon-flippp .5s;
    animation-fill-mode: forwards
  }
}

@keyframes total-opacity {
  0% {
    opacity: 0;
  }
  3% {
    opacity: .2;
  }
  5% {
    opacity: .5;
  }
  10%, 25%, 75% {
    opacity: 8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes icon-flippp {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
