.total-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 1.6rem;
}

.total-page-amount {
  display: flex;
  flex-direction: column;
  font-size: 2.8rem;
  align-items: center;
  justify-content: space-between;
}

.total-page-amount p {
  align-self: flex-start;
  color: #858586;
}

.total-page-amount svg {
  width: 2.4rem;
  margin-left: 6rem;
  stroke: #000;
  stroke-width: 2;
}

.total-page-amount svg.total-rotate-arrow {
  transform: rotate(180deg);
  transition: transform .3s;
}

@keyframes total-opacity {
  0% {
    opacity: 0;
  }
  3% {
    opacity: .2;
  }
  5% {
    opacity: .5;
  }
  10%, 25%, 75% {
    opacity: 8;
  }
  100% {
    opacity: 1;
  }
}
